<template>
    <div  id="favorite" class="container">
        <div class="row mt-5">
            <div class="col-lg-10 col-sm-12 ">
                <h1>Mes films favoris</h1>
                <transition name="trans">
                    <ShowMovies :movies="favorites" :baseImgUrl='baseImgUrl' />
                </transition>
            </div>
     
            <div class="col-lg-2 col-sm-12">
                <h1>Autres films</h1>
                <Discover :discover="discover" :baseImgUrl='baseImgUrl'  />
            </div>
        </div>
    </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import fetchers from "../mixins/fetchers";
import ShowMovies from '../components/ShowMovies'
import Discover from '../components/Discover'
import { mapState, mapActions } from 'vuex';


export default {
  name: 'Favorite',
  mixins:[fetchers],
    components:{
        ShowMovies,
        Discover
    },
    computed:{
        ...mapState(['error','favorites','discover','baseImgUrl']),
    },
    methods:mapActions(['setFavorites']),
    created: function(){
            this.setFavorites();
    },
}
</script>
<style >
    .netflixColor{
        background-color : #DB202C;
    }
   .trans-enter-active {
        animation: bounce-in .9s;
    }
    .trans-leave-active {
    animation: bounce-in .9s reverse;
    }
    
    @keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
</style>