<template>
    <div id="home" class="container">
        <div class="row mt-5">
            <div class="col-sm-12 col-lg-10">
                <h5 v-if="movies.length > 0">résultat(s) trouvé(s) pour "{{this.$store.state.query}}".</h5> 
                <transition name="trans">
                    <ShowMovies :movies="movies" :baseImgUrl='baseImgUrl' />
                </transition>
            </div>
            <div class="col-sm-12 col-lg-2 ">
                <h1>À la une</h1>
                <Discover :discover="discover" :baseImgUrl='baseImgUrl'  />
            </div>
        </div>
    </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import fetchers from "../mixins/fetchers";
import ShowMovies from '../components/ShowMovies'
import Discover from '../components/Discover'
import { mapState } from 'vuex';


export default {
  name: 'Home',
  mixins:[fetchers],
    data(){
        return{
        }
    },
    computed:mapState(['discover','movies','baseImgUrl']),
    components:{
        ShowMovies,
        Discover
    },

    created:async function(){
    },
}
</script>
<style >
    .netflixColor{
        background-color : #DB202C;
    }
   .trans-enter-active {
        animation: bounce-in .9s;
    }
    .trans-leave-active {
    animation: bounce-in .9s reverse;
    }
    
    @keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
</style>