<template>
    <div id="login" class="container text-center">
        <div class="row">
            <div class="col-12">
                <h1>Nouvautés sur Fakeflix</h1>
                <NewMovies :discover="discover" :baseImgUrl="baseImgUrl"/>
            </div>
            <div class="form ">
            <h4>Veuillez vous identifier svp</h4>
            <div class=" mt-2 d-flex flex-wrap justify-content-center">
                <div class="form-group col-12">
                    <input class="form-control" placeholder="Entrer votre identifiant themoviedb.org" v-model="username" />
                </div>
                <div class="form-group col-12">
                    <input class="form-control" placeholder="Mot de passe" type="password" v-model="password"/>
                </div>

                <button class="btn" @click="authenticateUser">Se connecter</button>
            </div>
        </div>
        </div>

        
       
    </div>
</template>


<script>
import fetchers from '../mixins/fetchers'
import {mapState, mapGetters} from 'vuex';
import NewMovies from '../components/NewMovies';

export default {
  name: 'Login',
  mixins:[fetchers],
   data(){
    return{
      requestToken :"",
      username:"",
      password:"",
    }

  },
  computed:{
      ...mapState(['error','account','urlSession','urlConnction','urlToken','discover','baseImgUrl']),
      ...mapGetters(['urlAccount'])
  },
  created: async function(){

  },
  components: {
      NewMovies

  },
  methods:{
     authenticateUser:async function(){
        this.requestToken = await this.getData(this.urlToken);
         let body = {
                        "username": this.username,
                        "password": this.password,
                        "request_token": this.requestToken.request_token
                    }
        //Create session with login
         let response = await this.postData(this.urlConnction,body);
         if(response && response.success){
             //get session_id
            let res = await this.postData(this.urlSession,{"request_token":`${this.requestToken.request_token}`});
            if(res && res.success){
                console.log(res);
                this.$session.start();
                this.$session.set('session_id',res.session_id);
                sessionStorage.setItem('session_id',res.session_id);
                let account = await this.getData(this.urlAccount);
                console.log(account);

                sessionStorage.setItem('account_id',account.id);
                this.$router.push('/');
            }
         }else{
            this.$store.commit('setError',"Échec d’authentification");
         }
            
     },

  }
}
</script>
<style >
#login{

    background-color:white;

}
#login button{
    color:  #DB202C;
    background-color: white;
}
.form{
    width: 80%;
    margin: 0 auto;
}
</style>