<template>
    <div id="movieDetails" class="container">
        <div class="col-12 mb-5 mt-5 " v-if="video && video.site === 'YouTube'">
            <iframe id="ytplayer" type="text/html" width="100%" height="360"
                    :src="srcVideo"
                    frameborder="0"
            />
        </div>
    
        <div class="card mb-3 col-12"  v-if="movie">
            <div class="row no-gutters">
                <div class="col-sm-12 col-lg-3">
                    <img :src="baseImgUrl + movie.poster_path" class="card-img" alt="" />
                </div>
                <div class="col-sm-12 col-lg-7 " >
                    <div class="card-body" >
                        <h2 class="card-title">{{movie.original_title}}</h2>
                        <small> {{movie.original_title}} ({{movie.original_language}}) Sortie : {{releaseDate}} </small>
                        <hr>
                        <p class="card-text">{{movie.overview}}</p>
                        <hr>
                        <h4>Informations</h4>
                        <ul>
                            <li>Popularité : {{movie.popularity}}</li>
                            <li>Note : {{movie.vote_average}}/10</li>
                            <li>Nombre de vote : {{movie.vote_count}}</li>
                        </ul>
                        <div class="d-flex flex-wrap">
                            <div class="col-6 p-2">
                                <button class="col-btn btn-success p-2" v-if="!isFavorite" @click="setFavOrWatch('favorite',true,movie.id)">Ajouter aux favoris</button>
                                <button class="col-btn btn-danger p-2" v-else @click="setFavOrWatch('favorite',false,movie.id)">Retirer des favoris</button>
                            </div>
                            <div class="col-6 p-2">
                                <button class="col-btn btn-success p-2" v-if="!inWatchList" @click="setFavOrWatch('watchlist',true,movie.id)">Ajouter aux "à voir"</button>
                                <button class="col-btn btn-danger p-2" v-else @click="setFavOrWatch('watchlist',false,movie.id)">Retirer de la liste "à voir" </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-2 d-flex flex-wrap justify-content-center">
                        
                            <h6>Les films similaires à "{{movie.original_title}}"</h6>
                            <Discover :discover="similarMovies" :baseImgUrl='baseImgUrl'/>
                        
                </div>

            </div>
        </div>

    
    </div>
</template>

<script>
import fetchers from '../mixins/fetchers';
import Discover from '../components/Discover';
import { mapState,mapGetters, mapActions } from 'vuex';


export default {
    name : 'MovieDetails',
    mixins:[fetchers],
    data(){
        return{
            isFavorite :false,
            inWatchList : false
        }
    },
    computed:{
        ...mapState(['movie','video','error','account','baseImgUrl','similarMovies']),
        ...mapGetters(['srcVideo','releaseDate','urlSimilarMovies'])
    },
    components:{
        Discover
    },

    created:async function(){
        let id = this.$route.params.id;
        this.setMovie(id);
        this.setSimilarMovies(id);
        this.setVideo(id)
        this.isFavorite = await this.checkIsFavoris(id);
        this.inWatchList = await this.checkIsInWatchList(id)
        console.log(this.inWatchList,this.isFavorite)

    },
    methods:{
        ...mapActions(['setMovie',"setSimilarMovies",'setVideo','checkIsFavoris','checkIsInWatchList','setFavoriteOrWatchList']),
            async setFavOrWatch(...arg){
                let res = await this.setFavoriteOrWatchList(arg);
                let name = arg[0];
                if(res){
                    name === "favorite" ? this.isFavorite = !this.isFavorite : this.inWatchList = !this.inWatchList;
                }
            }
    }
    
}
</script>
<style >
.card{
     background-color: #000 !important;
}


</style>