<template>
    <div id="watchlist" class="container">
        <div class="row mt-5">
            <div class="col-lg-10 col-sm-12">
                <h1>Mes films à voir</h1>
                <transition name="trans">
                    <ShowMovies :movies="watchList" :baseImgUrl='baseImgUrl' />
                </transition>
            </div>
            <div class="col-lg-2 col-sm-12">
                <h1>Autres films</h1>
                <Discover :discover="discover" :baseImgUrl='baseImgUrl'  />
            </div>
        </div>
    </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import fetchers from "../mixins/fetchers";
import ShowMovies from '../components/ShowMovies'
import Discover from '../components/Discover'
import { mapState, mapGetters } from 'vuex';


export default {
  name: 'WatchList',
  mixins:[fetchers],
    data(){
        return{
          
        }
    },
    components:{
        ShowMovies,
        Discover
    },
    computed:{
        ...mapState(['error','watchList','discover','baseImgUrl']),
        ...mapGetters(['urlWatchList'])
    },

    created:async function(){
        let res = await this.getData(this.urlWatchList);
        if(res && res.results) this.$store.commit('setWatchList',res.results);
    },

    methods:{

    }
}
</script>
<style >
    .netflixColor{
        background-color : #DB202C;
    }
   .trans-enter-active {
        animation: bounce-in .9s;
    }
    .trans-leave-active {
    animation: bounce-in .9s reverse;
    }
    
    @keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
</style>