<template>
    <div id=">discover">
            <hooper v-if="discover.length > 0"  :vertical="true" :itemsToShow="1" style="height: 360px;width:100%" :infiniteScroll="true" :centerMode="true" :autoPlay="true" :playSpeed="2000">
                <slide  v-for="disc in discover" :key="disc.id" style="height:360px">
                            <img v-if="disc.poster_path" class="img-fluid" width="240px" height="360px"  @click="movieDetails(disc.id)"  :src="baseImgUrl + disc.poster_path" alt="Image 1" />
                            <img v-else width="240px" @click="movieDetails(disc.id)"   src="../assets/Image-Not-Available.png" alt="">
                </slide>
            </hooper>
    </div>
</template>


<script>
import { Hooper, Slide } from 'hooper';

  export default {
    name: 'Discover',
   
    data(){
        return{
        }
    },
    props:[
        'discover',
        'baseImgUrl',
    ],
    components:{
        Hooper,
        Slide
    },
    created:function(){

    },

    methods: {
        movieDetails:function(disc_id){
            console.log(disc_id);
            location = `/movie/${disc_id}`
        }
    }
  }
</script>
<style >

.hooper-list{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
ul.hooper-track{
    padding: 0;
}
.hooper-list li {
    list-style: none;
}
</style>
