<template>
        
        <carousel-3d :autoplay="true" :width="360"  :display='5' :height="500" :autoplayHoverPause="true" :autoplay-timeout="3000" >
            <slide v-for="(slide, i) in discover" :index="i" :key="i" >
                <figure slot-scope="{ index}">
                    
                        <img :data-index="index"  class="img-fluid" width="360" height="270px" :src="baseImgUrl + slide.poster_path">
                    

                </figure>
            </slide>
        </carousel-3d>

</template>

<script>
import { Carousel3d, Slide } from 'vue-carousel-3d';
  export default {
    data() {
      return {
          imgFluid:"img-fluid"
      }
    },
        props:[
        'discover',
        'baseImgUrl',
    ],
    components:{
        Carousel3d, Slide
    },
    methods: {
      
    }
  }
</script>
<style >
.carousel-3d-container{
    width: 100%;
    height: 100%;
}
</style>
