<template>
    <b-navbar-nav class="ml-auto">
        <b-nav-form>
            <b-form-input  v-model.lazy="search" autofocus size="sm" class="mr-sm-2" placeholder="Search a movie e.g:'Terminator'"></b-form-input>
        </b-nav-form>
    </b-navbar-nav>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import fetchers from '../mixins/fetchers';
import { mapState, mapActions, mapMutations } from 'vuex';



export default {
  name: 'SearchBar',
    data(){
        return{
            search:''
        }
    },
    mixins:[fetchers],
    components:{
    },
    computed:{
        ...mapState(['urlMovie']),
    },
    watch:{
        search: async function(query){
            this.resetMovies([]);
            if(query.length){
                this.$router.push('/')
                this.setQuery(query);
                this.setSpinner(true);
                this.setMovies();
            }
        }
    },
    created:async function(){

    },

    methods:{
        ...mapMutations(['setSpinner','setQuery']),
        ...mapMutations({
            resetMovies: 'setMovies' // map `this.add()` to `this.$store.commit('increment')`
        }),
        ...mapActions(['setMovies']),
    }
}
</script>
<style >
</style>