<template>
<div id=">showMovies">
        <div v-if="this.$store.state.spinner">
            <img class="img-fluid"  src="../assets/spinner.svg" alt="">
        </div>
        <div  v-if="movies.length > 0">
            
            <div class="  d-flex  flex-wrap justify-content-center">
                <div class="col-sm-3 col-md-4 col-lg-2 p-2"  v-for="movie in movies" :key="movie.id">
                    <div  @click="movieDetails(movie.id)">
                        <img class="img-fluid" v-if="movie.poster_path" :src="baseImgUrl + movie.poster_path" alt="Image 1" />
                        <img class="img-fluid" v-else src="../assets/Image-Not-Available.png" alt="">
                        <h4 >{{movie.title}}</h4>
                    </div>
                </div>
            </div>
        </div>

        
        <div v-else>  
             <b-container>
                Aucun film
            </b-container>
        </div>
</div>

</template>

<script>


  export default {
    name: 'ShowMovies',
   
    data(){
        return{
            col:'col-4'
        }
    },
    props:[
        'movies',
        'baseImgUrl',        
    ],
    
    methods: {
        movieDetails:function(movie_id){
            console.log(movie_id);
            location = `/movie/${movie_id}`
        }
    }
  }
</script>
<style >
 .nav-link{
        color:white !important;
        font-weight: 700;
    }
    .movie{
        min-width: 150px;
        max-width: 150px;
        width: 150px;
    }
</style>