<template>
  <div id="app">
      <div class="p-3  text-center">
        <a href="/">
          <img src="./assets/fakeflix.png" alt="">
        </a>
      </div>
      <b-navbar v-if="this.$session.exists()" sticky toggleable="lg" class="netflixColor" >
      
          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav class="container">
            <b-navbar-nav>
                <b-nav-item class="nav-link" href="/">Accueil</b-nav-item>
                <b-nav-item class="nav-link" href="/favorites">Favoris</b-nav-item>
                <b-nav-item class="nav-link" href="/watchlist" >Film à voir</b-nav-item>
                <b-nav-item class="nav-link" @click="this.$root.logout" >Se déconecter</b-nav-item>
            </b-navbar-nav>

          </b-collapse>
                      <!-- Search barre compenent -->
          <b-navbar-nav>  
          <SearchBar/>
          </b-navbar-nav>  

      </b-navbar>
      <div v-if="error"> {{error}} </div>
      <router-view></router-view>
  </div>
</template>

<script>
import fetchers from './mixins/fetchers';
import SearchBar from './components/SearchBar';
import { mapState } from 'vuex';

export default {
  name: 'App',
  mixins:[fetchers],
  data(){
    return{
    }

  },
    beforeCreate: function () {
    if (!this.$session.exists()) {
      this.$router.push('/login')
    }

  },

  created: async function(){
      
  },
  computed:mapState(['error']),
  components: {
    SearchBar,
  },
  methods:{

  }
}
</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  min-height: 100vh;
  background-color: #000;
  color: #dbcdcd;
  font-family: "system-ui";
}

</style>
